py-trees==0.8.3
networkx==2.2
Shapely==2.0.6
psutil
xmlschema==1.0.18
ephem
tabulate
opencv-python==4.2.0.32
numpy==1.20
matplotlib
six
simple-watchdog-timer
lxml
sympy
pyyaml
scipy
lmdb==1.8.1
omegaconf==2.1.2
munch
openai==0.28
carla==0.9.12
